/* Import Fonts */
@import './fonts/inter';
$font-family: Inter, sans-serif;

/* Abstract */
@import './abstract/variables';
@import './abstract/utilities';

/* Components */
@import './components/buttons';

/*************************/
/*** Header and Footer ***/
/*************************/

body {
    font-family: $font-family;
    font-size: $fs-6;
}
#mainHeader {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: $clr-primary;
    border-bottom: 1pt solid $clr-black;
    .innerHeader {
        @extend %container;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            height: 3.25rem;
        }
    }   
}
.primaryNav {
    li {
        a {
            color: $clr-black;
            &.contact {
                color: $clr-white;
                background-color: $clr-accent;
            }
        }
        &.subMenu .icon-down {
            font-size: 15px
        }
    }
}
.contentContainer {
    @extend %container;
    padding-block: 5rem;
    min-height: 75vh;
    isolation: isolate;
}
footer {
    background-color: $clr-secondary;
    color: $clr-white;
    position: relative;
    margin-top: 2.5vw;
    &::before {
        content: '';
        display: block;
        position: absolute;
        top: -50px;
        width: 100%;
        height: 200px;
        background: inherit;
        z-index: -1;
        transform: skew(0deg, -3deg);
    }
    .innerFooter {
        @extend %container;
        .logo {
            display: block;
            max-width: 20rem;
            margin-inline: auto;
        }
        a {
            color: inherit;
        }
    }
    .footerCopy {
        padding-block: 0.5rem;
        text-align: center;
        a {
            text-decoration: underline;
        }
    }
}
#backToTop {
    --thisOffset: 2rem;
    position: fixed;
    bottom: var(--thisOffset);
    right: var(--thisOffset);
    width: 4rem;
    aspect-ratio: 1;
    border-radius: $round;
    background-color: $clr-accent;
    cursor: pointer;
    border: none;
    transition: $transition-time;
    .icon-backToTop {
        color: $clr-white;
        font-size: 35px;
    }
    &.invisible {
        visibility: hidden;
        opacity: 0;
    }
}

/****************/
/*** Sections ***/
/****************/

/* Accordions */
.accordion, .accordion * {outline: 1pt solid red}
.accordion {
    padding: 20px
}

/* Code Editor */
.editor {
    display: grid;
    grid-template-rows: 50px 1fr;
    background: $clr-gray-dark;
    &_tabset {
        list-style-type: none;
        display: flex;
        li[aria-selected="true"] {
            position: relative;
            background: $clr-black;
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                display: block;
                width: 100%;
                height: 2px;
                background: $clr-accent;
            }
        }
        &-ico {
            width: 15px;
            margin-right: 10px;
        }
        a {
            display: block;
            padding: 15px;
            color: $clr-white
        }
    }
    &_display {
        background: $clr-black
    }
}

/* Contact Form */
.contactForm {
    width: min(35rem, 100%);
    padding: 1rem;
    border-radius: $border-radius;
    overflow: hidden;
    outline: 1pt solid $clr-gray;
    box-shadow: 2px 2px 4px 0 $clr-black;
    background-color: $clr-white;
    fieldset {
        border: none;
        label {
            display: block;
        }
        span {
            font-size: $fs-5;
            cursor: pointer;
            &[aria-errormessage] { /* Hidden by default */ 
                visibility: hidden;
                display: none;
                margin-block: -0.5rem 1.5rem;
                font-size: $fs-6;
                color: $clr-error;
            }
        }
        input:not([type="submit"]), textarea {
            margin-block: 0.75rem;
            width: 100%;
            padding: 0.25rem;
            border: none;
            outline: 1pt solid $clr-gray;
            border-radius: $border-radius;
            background-color: $clr-gray-light;
            &:focus {
                outline: 2px solid $clr-secondary;
            }
            &[aria-invalid] {
                outline: 2px solid $clr-error !important;
                & + span[aria-errormessage] {
                    visibility: visible;
		            display: block;
                }
            }
        }
        textarea {
            resize: vertical;
            min-height: 4rem;
            max-height: 7.5rem;
        }
        input[type="submit"] {
            margin-inline: auto 0;
        }
    }   
}