/* Abstract */
@use './abstract/variables' as var;
@use './abstract/utilities';

/*************************/
/*** Header and Footer ***/
/*************************/

body {
    font-family: var.$font-body;
    font-size: var.$fs-6;
    color: var.$clr-black;
    line-height: 1.5;
    background-color: var.$clr-bg;
}
#mainHeader {
    position: fixed;
    inset: 0 0 auto 0;
    z-index: 2;
    height: var.$header-height;
    background-color: var.$clr-primary;
    border-bottom: 1pt solid var.$clr-black;
    .innerHeader {
        @extend %container;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            height: 3.25rem;
        }
        .primaryNav {
            li {
                a {
                    color: var.$clr-black;
                    &.contact {
                        color: var.$clr-white;
                        background-color: var.$clr-accent;
                        border: 1pt solid var.$clr-black;
                    }
                }
                &.subMenu .icon-down {
                    font-size: 15px
                }
            }
        }
    }   
}
#content {
    padding-top: var.$header-height;
    .contentContainer {
        @extend %container;
        > section {
            padding-top: calc(var.$gap-double * 2.5);
        }
        :is(a, a:visited, a:focus) {
            color: var.$clr-accent;text-decoration: underline;
            text-decoration-color: transparent;
            transition: var.$transition-time;
        }
    }
}
footer {
    color: var.$clr-white;
    background: var.$clr-secondary; // fallback
    background: linear-gradient(90deg, var.$clr-secondary 0, darken(var.$clr-secondary, 10%) 70%);
    a {
        color: inherit;
    }
    .logo, .logoEmail {
        display: block;
        max-width: 20rem;
        margin-inline: auto;
        text-align: center;
    }
    .innerFooter {
        @extend %container;
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        gap: var.$gap;
        padding-block: var.$gap-double;
        .footerNav ul {
            list-style: inside;
            display: flex;
            flex-direction: column;
            gap: var.$gap-half;
            .footerNavTitle {
                margin-bottom: var.$gap-half;
                font-size: var.$fs-3;
                font-weight: 700;
            }
        }
    }
    .footerCopy {
        padding-block: 0.5rem;
        text-align: center;
        background-color: darken(var.$clr-secondary, 15%);
    }
}

/**********************/
/*** General styles ***/
/**********************/

.heading {
    margin-bottom: var.$gap-half;
    font-family: var.$font-title;
    font-size: var.$fs-1;
    font-weight: 700;
}
.subheading {
    margin-block: 0 var.$gap;
    font-size: var.$fs-3;
}
.list {
    padding-block: var.$gap;
    list-style: inside;
}
.paragraph {
    margin-block: var.$gap-half;
}
a:hover {
    text-decoration: underline;
    text-decoration-color: var.$clr-accent;
}
#backToTop {
    --thisOffset: 2rem;
    position: fixed;
    bottom: var(--thisOffset);
    right: var(--thisOffset);
    width: 4rem;
    aspect-ratio: 1;
    border-radius: var.$round;
    background-color: var.$clr-accent;
    cursor: pointer;
    border: none;
    transition: var.$transition-time;
    .icon-backToTop {
        color: var.$clr-white;
        font-size: 35px;
    }
    &[aria-hidden="true"] {
        visibility: hidden;
        opacity: 0;
    }
    &[aria-hidden="false"] {
        visibility: visible;
        opacity: 1;
    }
}

/****************/
/*** Sections ***/
/****************/

/* Hero */
.hero {
    padding: var.$gap-double;
    color: var.$clr-white;
    background: url("../img/hero.png") center;
    background-attachment: fixed;
    text-shadow: 2px 2px 2px var.$clr-black;
    .heading {
        font-family: var.$font-title;
        font-size: var.$fs-title;
    }
    .subheading {
        font-size: var.$fs-3;
    }
    &_text {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    &_brands {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: var.$gap-double;
        img {
            width: 150px;
            aspect-ratio: 16/9;
            object-fit: contain;
            border-radius: var.$border-radius;
        }
    }
    &_picture {
        width: 60%;
        aspect-ratio: 1/1.25;
        object-fit: cover;
        object-position: center;
        border-radius: 100%;
    }
}

/* Accordions */
.accordion {
    --thisRadius: #{var.$border-radius};
    padding: 10px;
    background-color: #FFF;
    border: 1pt solid var.$clr-gray;
    border-radius: var(--thisRadius);
    &_item {
        &:first-child {
            .accordion_item-head {
                border-radius: var(--thisRadius) var(--thisRadius) 0 0;
            }
        }
        &:last-child {
            .accordion_item-head {
                border-bottom: 1pt solid var.$clr-gray;
                border-radius: 0 0 var(--thisRadius) var(--thisRadius);
            }
        }
        &-head {
            padding: 10px;
            font-size: var.$fs-6;
            border: 1pt solid var.$clr-gray;
            border-bottom: none;
            background-color: var.$clr-primary;
            cursor: pointer;
            user-select: none;
            &[aria-selected="true"] {
                font-weight: 700;
                text-decoration: underline 2pt var.$clr-accent;
                text-underline-offset: 5px;
            }
        }
        &-body {
            height: 0;
            padding-inline: 10px;
            border: 1pt solid var.$clr-gray;
            border-bottom: none;
            overflow: hidden;
            transition: var.$transition-time;
            &[aria-expanded="true"] {
                display: block;
                padding-block: 20px;
                height: fit-content;
            }
        }
    }
}

/* Code Editor */
.editor {
    display: grid;
    grid-template-rows: 50px 1fr;
    width: 100%;
    border-radius: var.$border-radius;
    overflow: clip; // for border-radius
	scrollbar-width: thin;
    scrollbar-color: var.$clr-primary transparent; /* thumb | track */
    &_tabset {
        list-style-type: none;
        display: flex;
        overflow-y: clip;
        overflow-x: auto;
        background: var.$clr-editor-tabs;
        li {
            flex-shrink: 0;
            width: fit-content;
            transition: var.$transition-time-fast;
            &:hover {
                background: var.$clr-editor-active-tab;
            }
            &[aria-selected="true"] {
                position: relative;
                background: var.$clr-editor-active-tab;
                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    display: block;
                    width: 100%;
                    height: 2px;
                    background: var.$clr-accent;
                }
            }
        }
        &-ico {
            width: 15px;
        }
        a {
            display: block;
            padding: 15px;
            span {
                margin-left: 10px;
                color: var.$clr-white;
            }
        }
    }
    &_display {
        width: 100%;
        height: 400px;
        background: var.$clr-editor-display;
        overflow-x: auto;
    }
    &_window {
        position: relative;
    }
}

/* Contact Form */
.contactForm {
    width: min(35rem, 100%);
    padding: 1rem;
    border-radius: var.$border-radius;
    overflow: hidden;
    outline: 1pt solid var.$clr-gray-light;
    box-shadow: var.$box-shadow;
    background-color: #FFF;
    fieldset {
        border: none;
        label {
            display: block;
        }
        span {
            font-size: var.$fs-5;
            cursor: pointer;
            &[aria-errormessage] { /* Hidden by default */ 
                visibility: hidden;
                display: none;
                margin-block: -0.5rem 1.5rem;
                font-size: var.$fs-6;
                color: var.$clr-error;
            }
        }
        input:not([type="submit"]), textarea {
            margin-block: 0.75rem;
            width: 100%;
            padding: 0.25rem;
            border: none;
            outline: 1pt solid var.$clr-gray;
            border-radius: var.$border-radius;
            background-color: var.$clr-gray-light;
            &:focus {
                outline: 2px solid var.$clr-secondary;
            }
            &[aria-invalid] {
                outline: 2px solid var.$clr-error !important;
                & + span[aria-errormessage] {
                    visibility: visible;
		            display: block;
                }
            }
        }
        textarea {
            resize: vertical;
            min-height: 4rem;
            max-height: 7.5rem;
        }
        input[type="submit"] {
            margin-inline: auto 0;
            background-color: var.$clr-accent;
            border: 1pt solid var.$clr-black;
        }
    }   
}