/* Import Fonts */
@import './fonts/inter';
$font-body: 'Inter', sans-serif;
@import './fonts/satisfy';
$font-title: 'Satisfy', 'Inter', sans-serif;

/* Abstract */
@import './abstract/variables';
@import './abstract/utilities';

/* Components */
@import './components/buttons';

/*************************/
/*** Header and Footer ***/
/*************************/

body {
    font-family: $font-body;
    font-size: $fs-6;
    background-color: $clr-bg;
}
#mainHeader {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: $clr-primary;
    border-bottom: 1pt solid $clr-black;
    .innerHeader {
        @extend %container;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            height: 3.25rem;
        }
    }   
}
.primaryNav {
    li {
        a {
            color: $clr-black;
            &.contact {
                color: $clr-white;
                background-color: $clr-accent;
            }
        }
        &.subMenu .icon-down {
            font-size: 15px
        }
    }
}
.contentContainer {
    @extend %container;
    > section {
        padding-top: calc($gap-double + $gap);
    }
}
.heading {
    margin-block: $gap-double $gap;
    font-size: $fs-2;
}
.subheading {
    margin-block: 0 $gap-double;
    font-size: $fs-5;
}
footer {
    color: $clr-white;
    background: $clr-secondary; // fallback
    background: linear-gradient(90deg, $clr-secondary 0, darken($clr-secondary, 10%) 70%);
    a {
        color: inherit;
    }
    .logo, .footerEmail {
        display: block;
        max-width: 20rem;
        margin-inline: auto;
        text-align: center;
        text-decoration: underline;
    }
    .innerFooter {
        @extend %container;
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        gap: $gap;
        padding-block: $gap-double;
        .footerNav ul {
            list-style: inside;
            display: flex;
            flex-direction: column;
            gap: $gap-half;
            .footerNavTitle {
                margin-bottom: $gap-half;
                font-size: $fs-3;
                font-weight: 700;
            }
        }
    }
    .footerCopy {
        padding-block: 0.5rem;
        text-align: center;
        a {
            text-decoration: underline;
            transition: $transition-time;
            &:hover {
                color: $clr-primary;
            }
        }
    }
}
#backToTop {
    --thisOffset: 2rem;
    position: fixed;
    bottom: var(--thisOffset);
    right: var(--thisOffset);
    width: 4rem;
    aspect-ratio: 1;
    border-radius: $round;
    background-color: $clr-accent;
    cursor: pointer;
    border: none;
    transition: $transition-time;
    .icon-backToTop {
        color: $clr-white;
        font-size: 35px;
    }
    &.invisible {
        visibility: hidden;
        opacity: 0;
    }
}

/****************/
/*** Sections ***/
/****************/

/* Hero */
.hero {
    padding: $gap-double;
    color: $clr-white;
    background: url("../img/hero.png") center;
    text-shadow: 2px 2px 2px $clr-black;
    .heading {
        font-family: $font-title;
        font-size: $fs-title;
    }
    .subheading {
        font-size: $fs-3;
    }
    &_image {
        width: 60%;
        aspect-ratio: 1/1.25;
        object-fit: cover;
        object-position: center;
        border-radius: 100%;
    }
    &_brands {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: $gap-double;
        img {
            width: 100%;
            aspect-ratio: 16/9;
            object-fit: contain;
            border-radius: $border-radius;
        }
    }
}

/* Accordions */
.accordion {
    --thisRadius: #{$border-radius};
    padding: 10px;
    background-color: #FFF;
    border: 1pt solid $clr-gray;
    border-radius: var(--thisRadius);
    &_item {
        overflow: clip; // for border-radius
        &:first-child {
            .accordion_item-head {
                border-radius: var(--thisRadius) var(--thisRadius) 0 0;
            }
        }
        &:last-child {
            .accordion_item-head {
                border-bottom: 1pt solid $clr-gray;
                border-radius: 0 0 var(--thisRadius) var(--thisRadius);
            }
        }
        &-head {
            padding: 10px;
            font-size: $fs-5;
            border: 1pt solid $clr-gray;
            border-bottom: none;
            background-color: $clr-primary;
            cursor: pointer;
            user-select: none;
            &[aria-selected="true"] {
                background-color: darken($clr-primary, 5%);
            }
        }
        &-body {
            display: none;
            border: 1pt solid $clr-gray;
            border-bottom: none;
            overflow: hidden;
            &[aria-expanded="true"] {
                display: block;
                padding: 20px 10px;
                height: fit-content;
            }
        }
    }
}

/* Code Editor */
.editor {
    display: grid;
    grid-template-rows: 50px 1fr;
    background: darken($clr-secondary, 10%);
    &_tabset {
        list-style-type: none;
        display: flex;
        background: darken($clr-secondary, 5%);
        li {
            transition: $transition-time-fast;
            &:hover {
                background: $clr-secondary;
            }
            &[aria-selected="true"] {
                position: relative;
                background: $clr-secondary;
                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    display: block;
                    width: 100%;
                    height: 2px;
                    background: $clr-accent;
                }
            }
        }
        &-ico {
            width: 15px;
        }
        a {
            display: block;
            padding: 15px;
            color: $clr-white;
            span {
                margin-left: 10px;
            }
        }
    }
    &_display {
        width: 100%;
        background: darken($clr-secondary, 10%);
        overflow-x: auto;
        scrollbar-width: thin;
    }
    &_window {
        position: relative;
        &-toolbar {
            position: absolute;
            top: $gap-half;
            right: $gap-half;
            &-button {
                padding: 3px 5px;
                font-size: $fs-caption;
                color: $clr-gray;
                border: none;
                cursor: pointer;
                border-radius: $border-radius;
                background: darken($clr-secondary, 15%);
            }
        }
    }
}

/* Contact Form */
.contactForm {
    width: min(35rem, 100%);
    padding: 1rem;
    border-radius: $border-radius;
    overflow: hidden;
    outline: 1pt solid $clr-gray-light;
    box-shadow: $box-shadow;
    background-color: #FFF;
    fieldset {
        border: none;
        label {
            display: block;
        }
        span {
            font-size: $fs-5;
            cursor: pointer;
            &[aria-errormessage] { /* Hidden by default */ 
                visibility: hidden;
                display: none;
                margin-block: -0.5rem 1.5rem;
                font-size: $fs-6;
                color: $clr-error;
            }
        }
        input:not([type="submit"]), textarea {
            margin-block: 0.75rem;
            width: 100%;
            padding: 0.25rem;
            border: none;
            outline: 1pt solid $clr-gray;
            border-radius: $border-radius;
            background-color: $clr-gray-light;
            &:focus {
                outline: 2px solid $clr-secondary;
            }
            &[aria-invalid] {
                outline: 2px solid $clr-error !important;
                & + span[aria-errormessage] {
                    visibility: visible;
		            display: block;
                }
            }
        }
        textarea {
            resize: vertical;
            min-height: 4rem;
            max-height: 7.5rem;
        }
        input[type="submit"] {
            margin-inline: auto 0;
        }
    }   
}