/* PrismJS 1.30.0 https://prismjs.com/download.html#themes=prism-twilight&languages=markup+css+clike+javascript+bash+ignore+javadoclike+jsdoc+js-extras+json+js-templates+markup-templating+php+phpdoc+php-extras+plsql+jsx+tsx+scss+sql+typescript+typoscript+uri&plugins=line-numbers+normalize-whitespace */

/**********************************************************/
/*         prism.js Custom theme for proferick.com        */
/*          Author: @salegomx | sergiogomez.mx            */
/*    Heavily inspired on 'Nihgt Owl' theme for VSCode    */
/**********************************************************/

code[class*="language-"], pre[class*="language-"] {
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: 1.05em;
	color: white;
	line-height: 1.5;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	background-color: #012938;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	scroll-behavior: contain;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 0.5em;
	overflow: auto;
	/* Firefox */
	& ::-moz-selection {
		background: #305971;
	}
	/* Rest of browsers */
	& ::selection {
		background: #305971;
	}
}
/* Defaults */
.token {
	&.comment,
	&.prolog,
	&.cdata {
		color: #90a9a9;
	}
	&.tag,
	&.boolean,
	&.number,
	&.deleted {
		color: #ef6479;
	}
	&.keyword,
	&.selector,
	&.constant,
	&.symbol,
	&.builtin {
		color: #ef6479;
	}
	&.property {
		color: #40b28f;
	}
	&.attr-value,
	&.string,
	&.char,
	&.operator,
	&.entity,
	&.url,
	&.string,
	&.variable,
	&.inserted {
		color: #48cfa6;
	}
	&.atrule {
		color: #ffd883;
	}
	&.regex,
	&.important {
		color: hsl(42, 75%, 65%);
	}
	&.important,
	&.bold {
		font-weight: bold;
	}
	&.italic {
		font-style: italic;
	}
	&.entity {
		cursor: help;
	}
}
/* Markup */
.language-markup {
	.token {
		&.name,
		&.attr-name {
			color: #ffd883;
		}
		&.doctype,
		&.tag {
			color: #ef6479;
		}
		&.attr-value {
			color: #09cb8f;
		}
		&.punctuation {
			color: #c4f320;
		}
	}
}
/* Inline styles, CSS, SCSS, SASS */
:is( .style, .language-css, .language-scss, .language-sass) {
	.token {
		&.atrule {
			color: #ff9870;
		}
		&.selector{
			color: #09cb8f;
		}
		&.property {
			color: #a0fcf3;
		}
		&.punctuation {
			color: #ffd700;
		}
		&.string,
		&.function {
			color: #ffd883;
		}
		&.keyword,
		&.important,
		&.rule {
			color: #f39eff;
		}
	}
}
/* inline Scritps, JS, TS, JSX, TSX, JSON */
:is(
	.script,
	.language-js,
	.language-ts,
	.language-typescript,
	.language-json,
	.language-webmanifest
) {
	.token {
		&.keyword,
		&.operator {
			color: #f39eff;
		}
		&.literal-property,
		&.property {
			color: #a0fcf3;
		}
		&.punctuation {
			color: #ffd700;
		}
		&.string {
			color: #ffd883;
		}
		&.function,
		&.boolean {
			color: #ef6479;
		}
		&.number {
			color: #ff8b24;
		}
	}
}
/* PHP */
.language-php {
	.token {
		&.delimiter.important {
			color: #ff4b66;
		}
		&.variable {
			color: #f0f0f0;
		}
		&.keyword,
		&.operator {
			color: #f39eff;
		}
		&.punctuation {
			color: #ffd700;
		}
		&.string,
		&.function {
			color: #ffd883;
		}
	}
}

/*****************************************************************/
/* Plugin: Line Numbers https://prismjs.com/plugins/line-numbers */
/*****************************************************************/

pre[class*="language-"].line-numbers {
	position: relative;
	padding-left: 3.8em;
	counter-reset: linenumber;
	> code {
		position: relative;
		white-space: inherit;
	}
}
.line-numbers .line-numbers-rows {
	position: absolute;
	pointer-events: none;
	top: 0;
	font-size: 100%;
	left: -3.8em;
	width: 3em; /* works for line-numbers below 1000 lines */
	letter-spacing: -1px;
	border-right: 1px solid #999;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	> span {
		display: block;
		counter-increment: linenumber;
		&::before {
			content: counter(linenumber);
			color: #999;
			display: block;
			padding-right: 0.8em;
			text-align: right;
		}
	}
}