@use '../abstract/variables' as *;

.form {
    width: min(35rem, 100%);
    padding: 1rem;
    border-radius: $border-radius;
    overflow: hidden;
    outline: 1pt solid $clr-gray-light;
    box-shadow: $box-shadow;
    background-color: #FFF;
    fieldset {
        border: none;
        label {
            display: block;
        }
        span {
            font-size: $fs-5;
            cursor: pointer;
            &[aria-errormessage] { // Hidden by default 
                visibility: hidden;
                display: none;
                margin-block: -0.5rem 1.5rem;
                font-size: $fs-6;
                color: $clr-error;
            }
        }
        input:not([type="submit"]), textarea {
            margin-block: 0.75rem;
            width: 100%;
            padding: 0.25rem;
            border: none;
            outline: 1pt solid $clr-gray;
            border-radius: $border-radius;
            background-color: $clr-gray-light;
            &:focus {
                outline: 2px solid $clr-secondary;
            }
            &[aria-invalid] {
                outline: 2px solid $clr-error !important;
                & + span[aria-errormessage] {
                    visibility: visible;
		            display: block;
                }
            }
        }
        textarea {
            resize: vertical;
            min-height: 4rem;
            max-height: 7.5rem;
        }
        input[type="submit"] {
            margin-inline: auto 0;
            background-color: $clr-accent;
            border: 1pt solid $clr-black;
        }
    }   
}