@use '../abstract/variables' as *;

.hero {
    padding: $gap-double;
    color: $clr-white;
    background-attachment: fixed;
    text-shadow: 2px 2px 2px $clr-black;
    .heading {
        font-family: $font-title;
        font-size: $fs-title;
    }
    .subheading {
        font-size: $fs-3;
    }
    &_text {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    &_brands {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        gap: $gap-half;
        > div {
            flex-basis: 300px;
            flex-grow: 1;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            gap: $gap-half;
            img {
                width: 150px;
                aspect-ratio: 16/9;
                object-fit: contain;
                border-radius: $border-radius;
            }
        }
        
    }
    &_picture {
        width: 60%;
        aspect-ratio: 1/1.25;
        object-fit: cover;
        object-position: center;
        border-radius: 100%;
    }
}