@use '../abstract/variables' as *;

// Reset Browser Defaults
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:where(img, picture, video, canvas, svg) {
    max-width: 100%;
}
:where(input, button, textarea, select) {
    font: inherit;
}
:where(a, a:hover) {
    padding: 1pt;
    text-decoration: none;
}
:where(ul, ol) {
    list-style: none;
}
:is(h1, h2, h3, h4, h5, h6) {
    font-size: 1em;
    font-weight: 400;
}

@media(width <= $mobile) {
    .desktopOnly {
      display:none !important;
    }
}
@media(width > $mobile) {
    .mobileOnly {
        display:none !important;
    }
}

/* REMOVE ALL ANIMATIONS, TRANSITIONS AND SMOOTH SCROLL FOR PEOPLE THAT PREFER NOT TO SEE THEM */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms;
        animation-iteration-count: 1;
        transition-duration: 0.01ms;
        scroll-behavior: auto;
    }
}