.btn {
  display: block;
  padding: 5px 15px;
  color: #F5F5F5;
  cursor: pointer;
  border-radius: 4px;
}

.editor {
  display: grid;
  grid-template-rows: 50px 1fr;
  width: 100%;
  border-radius: 4px;
  overflow: clip;
  scrollbar-width: thin;
  scrollbar-color: #fff4e3 #00202c;
}
.editor_tabset {
  list-style-type: none;
  display: flex;
  overflow-y: clip;
  overflow-x: auto;
  background: #013c52;
  scrollbar-width: none;
}
.editor_tabset.dragging {
  user-select: none !important;
}
.editor_tabset.dragging li {
  cursor: grabbing !important;
}
.editor_tabset i {
  color: #F5F5F5;
}
.editor_tabset i.fa-html5 {
  color: #E44D26;
}
.editor_tabset i.fa-css {
  color: rebeccapurple;
}
.editor_tabset i.fa-js {
  color: #f7df1e;
}
.editor_tabset i.fa-sass {
  color: #CC6699;
}
.editor_tabset i.fa-bootstrap {
  color: #7952B3;
}
.editor_tabset i.fa-vuejs {
  color: #42B883;
}
.editor_tabset i.fa-laravel {
  color: #FF4529;
}
.editor_tabset i.fa-git {
  color: #F05032;
}
.editor_tabset i.fa-code {
  color: #E6DB74;
}
.editor_tabset li {
  flex-shrink: 0;
  width: fit-content;
  transition: 280ms;
  cursor: pointer;
}
.editor_tabset li > span {
  display: block;
  padding: 15px;
}
.editor_tabset li > span span {
  margin-left: 10px;
  color: #F5F5F5;
}
.editor_tabset li:hover {
  background: #014E6B;
}
.editor_tabset li[aria-selected=true] {
  position: relative;
  background: #014E6B;
}
.editor_tabset li[aria-selected=true]::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #DA3A2F;
}
.editor_display {
  width: 100%;
  height: 400px;
  background: #012938;
  overflow-x: auto;
  scroll-behavior: contain;
}
.editor_window {
  position: relative;
}
