.primaryNav ul .contact, .btn {
  display: block;
  padding: 5px 15px;
  color: #F5F5F5;
  cursor: pointer;
  border-radius: 4px;
}

.primaryNav ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.primaryNav ul li.subMenu {
  position: relative;
}
.primaryNav ul li.subMenu ul {
  display: none;
  width: 15rem;
  position: absolute;
  top: 1.25rem;
  border-radius: 4px;
  background-color: #F5F5F5;
  outline: 1pt solid #DDD;
}
.primaryNav ul li.subMenu ul a {
  display: block;
  padding: 0.75rem;
  width: 100%;
  border-bottom: 1pt solid #DDD;
}
.primaryNav ul li.subMenu.subMenu:hover a i.icon-down {
  transform: rotate(0.5turn);
  transition: 350ms;
}
.primaryNav ul li.subMenu.subMenu:hover ul {
  display: block;
}
.primaryNav ul a:hover:not(.contact) {
  opacity: 0.75;
}
.grid-2 {
  grid-template-columns: 55% 1fr;
}

#courses .grid-2 {
  grid-template-columns: 1fr 60%;
}
