.btn {
  display: block;
  padding: 5px 15px;
  color: #F5F5F5;
  cursor: pointer;
  border-radius: 4px;
}

@media (width <= 48rem) {
  #menuButton {
    position: relative;
    width: 2.5rem;
    aspect-ratio: 1;
    background: #fff4e3;
    border-radius: 4px;
    border: none;
    cursor: pointer;
  }
  #menuButton span {
    position: absolute;
    display: block;
    height: 2px;
    width: 80%;
    left: 10%;
    background-color: #2A2A2A;
    transition: 350ms;
  }
  #menuButton span.top {
    top: 25%;
  }
  #menuButton span.center {
    top: 50%;
  }
  #menuButton span.bottom {
    top: 75%;
  }
  #menuButton[aria-expanded] span.top {
    top: 50%;
    rotate: 45deg;
  }
  #menuButton[aria-expanded] span.center {
    opacity: 0;
  }
  #menuButton[aria-expanded] span.bottom {
    top: 50%;
    rotate: -45deg;
  }
  .primaryNav {
    display: none;
    position: absolute;
    top: 5rem;
    right: 1rem;
    width: 90%;
    background-color: #F5F5F5;
    border-radius: 4px;
    overflow: hidden;
    outline: 1pt solid #DDD;
  }
  .primaryNav li a {
    display: block;
    width: 100%;
    padding: 1rem;
    border-bottom: 1pt solid #DDD;
  }
  .primaryNav li a.contact {
    color: #F5F5F5;
    background-color: #DA3A2F;
  }
  .primaryNav li.subMenu ul a {
    padding-left: 2rem;
  }
  .primaryNav[aria-expanded] {
    display: block;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.8666666667);
  }
  .hero .heading {
    font-size: 3rem;
  }
  .hero .subheading {
    font-size: 1.25rem;
  }
  #courses.grid-2 {
    display: flex;
    flex-direction: column-reverse;
  }
}
