@font-face {
  font-family: 'pricons';
  src:  url('../fonts/pricons/pricons.eot?puyx8g');
  src:  url('../fonts/pricons/pricons.eot?puyx8g#iefix') format('embedded-opentype'),
    url('../fonts/pricons/pricons.ttf?puyx8g') format('truetype'),
    url('../fonts/pricons/pricons.woff?puyx8g') format('woff'),
    url('../fonts/pricons/pricons.svg?puyx8g#pricons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.pri {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'pricons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-up::before {
  content: "\e900";
}
.icon-left::before {
  content: "\e901";
}
.icon-right::before {
  content: "\e902";
}
.icon-backToTop::before {
  content: "\e903";
}
.icon-down::before {
  content: "\e904";
}