// Colors
$clr-bg: #FFFCF6;
$clr-white: #F5F5F5;
$clr-gray-light: #F8F8F8;
$clr-gray: #DDD;
$clr-gray-dark: #444;
$clr-black: #2A2A2A;
$clr-primary: #FFF4E3;
$clr-secondary: #014E6B;
$clr-accent: #C43122;
$clr-error: #C30E0E;

$clr-highlight: #FFEF02;

$clr-editor-display: darken($clr-secondary, 10%);
$clr-editor-tabs: darken($clr-secondary, 5%);
$clr-editor-active-tab: $clr-secondary;
$clr-highlight-tab: $clr-accent;

// Fonts
$font-title: 'Satisfy', 'Inter', sans-serif;
$font-body: 'Inter', sans-serif;

$fs-title: 5rem;
$fs-title-mobile: 3rem;
$fs-1: 2.5rem; // 40px 
$fs-2: 1.5rem; // 24px 
$fs-3: 1.375rem; // 22px 
$fs-4: 1.25rem; // 20px 
$fs-5: 1.125rem; // 18px 
$fs-6: 1rem; // 16px 
$fs-caption: 0.875rem; // 14px 

// Sizes
$header-height: 3.75rem; // 60px
$gap: 15px;
$gap-half: calc($gap / 2);
$gap-double: calc($gap * 2);

// Shapes
$box-shadow: 2px 2px 4px 0 $clr-black;
$border-radius: 4px;
$round: 100%;

// Media Queries
$mobile: 48rem;

// Time
$transition-time: 350ms;
$transition-time-fast: calc($transition-time / 1.25);
$transition-time-slow: calc($transition-time * 1.25);

// Extends
%container {
    margin-inline: auto;
    width: min(85rem, calc(100% - 2rem));
}
%btn {
    display: block;
    padding: 5px 15px;
    border-radius: $border-radius;
    border: none;
    cursor: pointer;
}