// Fonts
$font-title: 'Satisfy', 'Inter', sans-serif;
$font-body: 'Inter', sans-serif;

$fs-title: 5rem;
$fs-title-mobile: 3rem;
$fs-1: 2.5rem; // 40px 
$fs-2: 1.5rem; // 24px 
$fs-3: 1.375rem; // 22px 
$fs-4: 1.25rem; // 20px 
$fs-5: 1.125rem; // 18px 
$fs-6: 1rem; // 16px 
$fs-caption: 0.875rem; // 14px 

// Sizes
$header-height: 3.75rem; // 60px
$gap: 15px;
$gap-half: calc($gap / 2);
$gap-double: calc($gap * 2);

$scroll-margin-top: calc($header-height + 10px);

// Shapes
$box-shadow: 2px 2px 4px 0 var(--clr-black);
$border-radius: 4px;
$round: 100%;

// Media Queries
$mobile: 48rem;

// Time
$transition-time: 350ms;
$transition-time-fast: calc($transition-time / 1.25);
$transition-time-slow: calc($transition-time * 1.25);

// Extends
%container {
    margin-inline: auto;
    width: min(85rem, calc(100% - 2rem));
}
%btn {
    display: block;
    padding: 5px 15px;
    border-radius: $border-radius;
    border: none;
    cursor: pointer;
}