// Abstract
@use './abstract/reset';
@use './abstract/variables' as *;

// Import Fonts
@use './fonts/inter';
@use './fonts/satisfy';

// Base layout
::selection {
    background: rgba($clr-accent, 0.85) !important;
    color: $clr-white !important;
}
body {
    font-family: $font-body;
    font-size: $fs-6;
    color: $clr-black;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    background-color: $clr-bg;
}
#mainHeader {
    position: fixed;
    inset: 0 0 auto 0;
    z-index: 2;
    height: $header-height;
    background-color: $clr-primary;
    border-bottom: 1pt solid $clr-black;
    .innerHeader {
        @extend %container;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            height: 3.25rem;
        }
        .primaryNav {
            li {
                a {
                    color: $clr-black;
                    &.contact {
                        color: $clr-white;
                        background-color: $clr-accent;
                        border: 1pt solid $clr-black;
                    }
                }
                &.subMenu .icon-down {
                    font-size: 15px
                }
            }
        }
    }   
}
#content {
    padding-top: $header-height;
    .contentContainer {
        @extend %container;
        > section {
            padding-block: calc($gap-double * 2.5) 10vw;
        }
        :is(a, a:visited, a:focus) {
            color: darken($clr-accent, 5%);
            text-decoration: underline;
            text-decoration-color: transparent;
            transition: $transition-time;
        }
    }
}
#mainFooter {
    color: $clr-white;
    background: $clr-secondary; // fallback
    background: linear-gradient(90deg, $clr-secondary 0, darken($clr-secondary, 10%) 70%);
    a {
        color: inherit;
    }
    .logo, .logoEmail {
        display: block;
        max-width: 20rem;
        margin-inline: auto;
        text-align: center;
    }
    .innerFooter {
        @extend %container;
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        flex-wrap: wrap;
        gap: $gap-double;
        padding-block: $gap-double;
        .footerNav {
            &Title {
                margin-bottom: $gap-half;
                font-size: $fs-4;
                font-weight: 700;
            }
            ul {
                flex-basis: 300px;
                list-style: inside;
                display: flex;
                flex-direction: column;
                gap: $gap-half;
                margin-bottom: $gap-double;
            }
        }
    }
    .footerCopy {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: $gap-half;
        padding-block: 0.5rem;
        background-color: darken($clr-secondary, 15%);
    }
}

// Reusable Classes
.heading {
    margin-bottom: $gap-half;
    font-family: $font-title;
    font-size: $fs-1;
    font-weight: 700;
    &:not(.hero .heading) {
        display: inline;
        text-decoration: 2px underline $clr-accent;
        text-underline-offset: 5px;
    }
}
.subheading {
    margin-block: 0 $gap;
    font-size: $fs-3;
    text-wrap: balance;
}
.list {
    padding-block: $gap;
    list-style: inside;
}
.grid-2 {
    display: grid;
    justify-items: center;
    gap: 2rem;
}
.sr-only {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border-width: 0 !important;
}

[data-skew="1"] {
    --skew-height: 3.5vw;
    &[skew-type="top"] {
        padding-top: var(--skew-height);
        clip-path: polygon(100% var(--skew-height), 0 0, 0 100%, 100% 100%);
    }
    &[skew-type="bottom"] {
        padding-bottom: var(--skew-height);
        clip-path: polygon(0 0, 100% 0, 100% calc(100% - var(--skew-height)), 0% 100%);
    }
}

:root {
    --carouselTech-width: 100%;
    --carouselTech-height: 50px;
    // --carouselTech-elements: 0; // defined with JavaScript
    --carouselTech-elements-displayed: 5;
    --carouselTech-element-width: calc(var(--carouselTech-width) / var(--carouselTech-elements-displayed));
    --carouselTech-animation-duration: calc(var(--carouselTech-elements) * 2.5s);
}
.carouselTech {
    width: var(--carouselTech-width);
    height: var(--carouselTech-height);
    background-color: $clr-bg;
    color: $clr-gray-dark;
    overflow: hidden;
    position: relative;
}
.carouselTech:before, .carouselTech:after {
    position: absolute;
    top: 0;
    width: 5rem;
    height: 100%;
    content: "";
    z-index: 1;
}
.carouselTech:before {
    left: 0;
    background: linear-gradient(to right, $clr-bg 0%, transparent 100%);
}
.carouselTech:after {
    right: 0;
    background: linear-gradient(to left, $clr-bg 0%, transparent 100%);
}
.carouselTech-content {
    position:  absolute;
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling var(--carouselTech-animation-duration) linear infinite;
}
//.carouselTech-content:hover {
//    animation-play-state: paused;
//}
@keyframes scrolling {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-1 * var(--carouselTech-element-width) * var(--carouselTech-elements))); }
}
.carouselTech-content li {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--carouselTech-element-width);
    max-height: 100%;
    font-size: calc( var(--carouselTech-height) * 3/4 );
    color: $clr-secondary;
    white-space: nowrap;
}

.paragraph {
    margin-block: $gap-half;
}
.highlight {
  font-style: normal;
  font-weight: 600;
  border-radius: 1em 0 1em 0;
  background-image:  
    linear-gradient(-100deg, 
      rgba( $clr-highlight, 0.25),
      rgba( $clr-highlight, 0.4) 20%,
      rgba( $clr-highlight, 0.4) 80%,
      rgba( $clr-highlight, 0.3),
    );
}
a:hover {
    text-decoration: underline;
    text-decoration-color: $clr-accent;
}
#backToTop {
    --thisOffset: 2rem;
    position: fixed;
    bottom: var(--thisOffset);
    right: var(--thisOffset);
    width: 3rem;
    color: $clr-white;
    aspect-ratio: 1;
    border-radius: $round;
    background-color: $clr-accent;
    cursor: pointer;
    border: none;
    transition: $transition-time;
    &[aria-hidden="true"] {
        visibility: hidden;
        opacity: 0;
    }
    &[aria-hidden="false"] {
        visibility: visible;
        opacity: 1;
    }
    &:hover {
        transform: scale(1.1);
    }
}

// Sections
.hero {
    padding: $gap-double;
    color: $clr-white;
    background-attachment: fixed;
    text-shadow: 2px 2px 2px $clr-black;
    .heading {
        font-family: $font-title;
        font-size: $fs-title;
    }
    .subheading {
        font-size: $fs-3;
    }
    &_text {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    &_brands {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        gap: $gap-half;
        > div {
            flex-basis: 300px;
            flex-grow: 1;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            gap: $gap-half;
            img {
                width: 150px;
                aspect-ratio: 16/9;
                object-fit: contain;
                border-radius: $border-radius;
            }
        }
        
    }
    &_picture {
        width: 60%;
        aspect-ratio: 1/1.25;
        object-fit: cover;
        object-position: center;
        border-radius: 100%;
    }
}

// Accordions
.accordion {
    --thisRadius: #{$border-radius};
    padding: 10px;
    background-color: #FFF;
    border: 1pt solid $clr-gray;
    border-radius: var(--thisRadius);
    &_item {
        overflow: hidden;
        &:first-child {
            border-radius: var(--thisRadius) var(--thisRadius) 0 0;
        }
        &:last-child {
            border-radius: 0 0 var(--thisRadius) var(--thisRadius);
        }
        &-head {
            padding: 10px;
            font-size: $fs-6;
            border: 1pt solid $clr-gray;
            border-bottom: none;
            background-color: $clr-white;
            cursor: pointer;
            user-select: none;
            &[aria-selected="true"] {
                font-weight: 700;
                text-decoration: underline 2pt $clr-accent;
                text-underline-offset: 5px;
                background-color: $clr-primary;
            }
        }
        &-body {
            height: 0;
            padding-inline: 10px;
            border: 1pt solid $clr-gray;
            border-top: none;
            overflow: hidden;
            transition: $transition-time;
            &[aria-expanded="true"] {
                display: block;
                padding-block: 20px;
                height: fit-content;
            }
        }
    }
}

// Contact
.contactForm {
    width: min(35rem, 100%);
    padding: 1rem;
    border-radius: $border-radius;
    overflow: hidden;
    outline: 1pt solid $clr-gray-light;
    box-shadow: $box-shadow;
    background-color: #FFF;
    fieldset {
        border: none;
        label {
            display: block;
        }
        span {
            font-size: $fs-5;
            cursor: pointer;
            &[aria-errormessage] { // Hidden by default 
                visibility: hidden;
                display: none;
                margin-block: -0.5rem 1.5rem;
                font-size: $fs-6;
                color: $clr-error;
            }
        }
        input:not([type="submit"]), textarea {
            margin-block: 0.75rem;
            width: 100%;
            padding: 0.25rem;
            border: none;
            outline: 1pt solid $clr-gray;
            border-radius: $border-radius;
            background-color: $clr-gray-light;
            &:focus {
                outline: 2px solid $clr-secondary;
            }
            &[aria-invalid] {
                outline: 2px solid $clr-error !important;
                & + span[aria-errormessage] {
                    visibility: visible;
		            display: block;
                }
            }
        }
        textarea {
            resize: vertical;
            min-height: 4rem;
            max-height: 7.5rem;
        }
        input[type="submit"] {
            margin-inline: auto 0;
            background-color: $clr-accent;
            border: 1pt solid $clr-black;
        }
    }   
}