/* Abstract */
@use './abstract/variables' as *;
@use './abstract/utilities';

/*******************/
/*** Base layout ***/
/*******************/

::selection {
    background: rgba($clr-accent, 0.85) !important;
    color: $clr-white !important;
}
body {
    font-family: $font-body;
    font-size: $fs-6;
    color: $clr-black;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    background-color: $clr-bg;
}
#mainHeader {
    position: fixed;
    inset: 0 0 auto 0;
    z-index: 2;
    height: $header-height;
    background-color: $clr-primary;
    border-bottom: 1pt solid $clr-black;
    .innerHeader {
        @extend %container;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            height: 3.25rem;
        }
        .primaryNav {
            li {
                a {
                    color: $clr-black;
                    &.contact {
                        color: $clr-white;
                        background-color: $clr-accent;
                        border: 1pt solid $clr-black;
                    }
                }
                &.subMenu .icon-down {
                    font-size: 15px
                }
            }
        }
    }   
}
#content {
    padding-top: $header-height;
    .contentContainer {
        @extend %container;
        > section {
            padding-top: calc($gap-double * 2.5);
        }
        :is(a, a:visited, a:focus) {
            color: darken($clr-accent, 5%);
            text-decoration: underline;
            text-decoration-color: transparent;
            transition: $transition-time;
        }
    }
}
#mainFooter {
    color: $clr-white;
    background: $clr-secondary; // fallback
    background: linear-gradient(90deg, $clr-secondary 0, darken($clr-secondary, 10%) 70%);
    a {
        color: inherit;
    }
    .logo, .logoEmail {
        display: block;
        max-width: 20rem;
        margin-inline: auto;
        text-align: center;
    }
    .innerFooter {
        @extend %container;
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        flex-wrap: wrap;
        gap: $gap-double;
        padding-block: $gap-double;
        .footerNav {
            &Title {
                margin-bottom: $gap-half;
                font-size: $fs-3;
                font-weight: 700;
            }
            ul {
                flex-basis: 300px;
                list-style: inside;
                display: flex;
                flex-direction: column;
                gap: $gap-half;
                margin-bottom: $gap-double;
            }
        }
    }
    .footerCopy {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: $gap-half;
        padding-block: 0.5rem;
        background-color: darken($clr-secondary, 15%);
    }
}

/**********************/
/*** General styles ***/
/**********************/
.heading {
    margin-bottom: $gap-half;
    font-family: $font-title;
    font-size: $fs-1;
    font-weight: 700;
    &:not(.hero .heading) {
        display: inline;
        text-decoration: 2px underline $clr-accent;
        text-underline-offset: 5px;
    }
}
.subheading {
    margin-block: 0 $gap;
    font-size: $fs-3;
    text-wrap: balance;
}
.list {
    padding-block: $gap;
    list-style: inside;
}


:root {
    --carouselTech-width: 100%;
    --carouselTech-height: 50px;
    /* --carouselTech-elements: 0; */ /* defined with JavaScript */
    --carouselTech-elements-displayed: 5;
    --carouselTech-element-width: calc(var(--carouselTech-width) / var(--carouselTech-elements-displayed));
    --carouselTech-animation-duration: calc(var(--carouselTech-elements) * 2.5s);
}
.carouselTech {
    width: var(--carouselTech-width);
    height: var(--carouselTech-height);
    background-color: $clr-bg;
    color: $clr-gray-dark;
    overflow: hidden;
    position: relative;
}
.carouselTech:before, .carouselTech:after {
    position: absolute;
    top: 0;
    width: 5rem;
    height: 100%;
    content: "";
    z-index: 1;
}
.carouselTech:before {
    left: 0;
    background: linear-gradient(to right, $clr-bg 0%, transparent 100%);
}
.carouselTech:after {
    right: 0;
    background: linear-gradient(to left, $clr-bg 0%, transparent 100%);
}
.carouselTech-content {
    position:  absolute;
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling var(--carouselTech-animation-duration) linear infinite;
}
/*.carouselTech-content:hover {
    animation-play-state: paused;
}*/
@keyframes scrolling {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-1 * var(--carouselTech-element-width) * var(--carouselTech-elements))); }
}
.carouselTech-content li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: var(--carouselTech-element-width);
    max-height: 100%;
    font-size: calc(var(--carouselTech-height)*3/4); /* 5rem; */
    white-space: nowrap;
}
.carouselTech-content li img {
    width: 100%;
    border: 2px solid #eee;
}
.fa-html5 {
    color: #E44D26;
}
.fa-css {
    color: rebeccapurple; // https://www.reddit.com/r/webdev/comments/1de8i26/about_ten_years_ago_the_hex_color_rebeccapurple/
}
.fa-js {
    color: #f7df1e;
}
.fa-sass {
    color: #CC6699;
}
.fa-bootstrap {
    color: #7952B3;
}
.fa-vuejs {
    color: #42B883;
}
.fa-php {
    color: #7775fa;
}
.fa-laravel {
    color: #FF4529;
}
.fa-git {
    color: #F05032;
}
.fa-code {
    color: #E6DB74;
}
.fa-database {
    color: #00758F;
}
.paragraph {
    margin-block: $gap-half;
}
.highlight {
  font-style: normal;
  font-weight: 600;
  border-radius: 1em 0 1em 0;
  background-image:  
    linear-gradient(-100deg, 
      rgba( $clr-highlight, 0.25),
      rgba( $clr-highlight, 0.4) 20%,
      rgba( $clr-highlight, 0.4) 80%,
      rgba( $clr-highlight, 0.3),
    );
}
a:hover {
    text-decoration: underline;
    text-decoration-color: $clr-accent;
}
#backToTop {
    --thisOffset: 2rem;
    position: fixed;
    bottom: var(--thisOffset);
    right: var(--thisOffset);
    width: 3rem;
    color: $clr-white;
    aspect-ratio: 1;
    border-radius: $round;
    background-color: $clr-accent;
    cursor: pointer;
    border: none;
    transition: $transition-time;
    &[aria-hidden="true"] {
        visibility: hidden;
        opacity: 0;
    }
    &[aria-hidden="false"] {
        visibility: visible;
        opacity: 1;
    }
    &:hover {
        transform: scale(1.1);
    }
}

/****************/
/*** Sections ***/
/****************/

/* Hero */
.hero {
    padding: $gap-double;
    color: $clr-white;
    background-attachment: fixed;
    text-shadow: 2px 2px 2px $clr-black;
    .heading {
        font-family: $font-title;
        font-size: $fs-title;
    }
    .subheading {
        font-size: $fs-3;
    }
    &_text {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    &_brands {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        gap: $gap-half;
        > div {
            flex-basis: 300px;
            flex-grow: 1;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            gap: $gap-half;
            img {
                width: 150px;
                aspect-ratio: 16/9;
                object-fit: contain;
                border-radius: $border-radius;
            }
        }
        
    }
    &_picture {
        width: 60%;
        aspect-ratio: 1/1.25;
        object-fit: cover;
        object-position: center;
        border-radius: 100%;
    }
}

/* Accordions */
.accordion {
    --thisRadius: #{$border-radius};
    padding: 10px;
    background-color: #FFF;
    border: 1pt solid $clr-gray;
    border-radius: var(--thisRadius);
    &_item {
        overflow: hidden;
        &:first-child {
            border-radius: var(--thisRadius) var(--thisRadius) 0 0;
        }
        &:last-child {
            border-radius: 0 0 var(--thisRadius) var(--thisRadius);
        }
        &-head {
            padding: 10px;
            font-size: $fs-6;
            border: 1pt solid $clr-gray;
            border-bottom: none;
            background-color: $clr-primary;
            cursor: pointer;
            user-select: none;
            &[aria-selected="true"] {
                font-weight: 700;
                text-decoration: underline 2pt $clr-accent;
                text-underline-offset: 5px;
            }
        }
        &-body {
            height: 0;
            padding-inline: 10px;
            border: 1pt solid $clr-gray;
            border-top: none;
            overflow: hidden;
            transition: $transition-time;
            &[aria-expanded="true"] {
                display: block;
                padding-block: 20px;
                height: fit-content;
            }
        }
    }
}

/* Code Editor */
.editor {
    display: grid;
    grid-template-rows: 50px 1fr;
    width: 100%;
    border-radius: $border-radius;
    overflow: clip; // for border-radius
	scrollbar-width: thin;
    scrollbar-color: $clr-primary darken($clr-secondary, 12.5%); /* thumb | track */
    &_tabset {
        list-style-type: none;
        display: flex;
        overflow-y: clip;
        overflow-x: auto;
        background: $clr-editor-tabs;
        scrollbar-width: none;
        &.dragging {
            user-select: none !important;
            li { 
                cursor: grabbing !important;
            }
        }
        &-ico {
            width: 15px;
        }
        li {
            flex-shrink: 0;
            width: fit-content;
            transition: $transition-time-fast;
            cursor: pointer;
            > span {
                display: block;
                padding: 15px;
                span {
                    margin-left: 10px;
                    color: $clr-white;
                }
            }
            &:hover {
                background: $clr-editor-active-tab;
            }
            &[aria-selected="true"] {
                position: relative;
                background: $clr-editor-active-tab;
                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    display: block;
                    width: 100%;
                    height: 2px;
                    background: $clr-accent;
                }
            }
        }
    }
    &_display {
        width: 100%;
        height: 400px;
        background: $clr-editor-display;
        overflow-x: auto;
        scroll-behavior: contain;
    }
    &_window {
        position: relative;
    }
}

/* Reviews */
.slider-container {
    position: relative;
    margin-inline: auto;
    padding-top: $gap-half;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: $gap-double;
    overflow: clip;
    isolation: isolate;
    .bullet-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: $gap;
        .bullet {
            --size: 12px;
            width: var(--size);
            height: var(--size);
            border-radius: 100px;
            background-color: $clr-accent;
            opacity: 0.25;
            cursor: pointer;
            transition: $transition-time-slow;
            &:hover {
                opacity: 0.5;
            }
            &.active {
                width: calc(var(--size) * 2);
                opacity: 1;
            }
        }
    }
    .slider-content {
        position: relative;
        width: 700px;
        max-width: 90%;
        height: 250px;
        .slider-single {
            position: absolute;
            z-index: 0;
            top: 0;
            left: auto;
            right: auto;
            padding: $gap;
            width: 100%;
            height: 100%;
            outline: 1pt solid $clr-gray;
            background: white;
            border-radius: $border-radius;
            transition: $transition-time-slow;
            &.preactivede {
                transform: translateX(-50%) scale(0);
            }
            &.preactive {
                z-index: 1;
                opacity: 0.3;
                transform: translateX(-50%) scale(0.75);
            }
            &.proactive {
                z-index: 1;
                opacity: 0.3;
                transform: translateX(50%) scale(0.75);
            }
            &.proactivede {
                transform: translateX(50%) scale(0);
            }
            &.active {
                z-index: 2;
                opacity: 1;
                transform: translateX(0%) scale(1);
            }
        }
        .slider-head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .slider-title {
                font-family: $font-title;
                font-size: $fs-2;
            }
            .slider-stars {
                font-size: $fs-caption;
                color: $clr-secondary;
            }
        }
        .slider-body {
            margin-top: $gap;
            max-height: 75%;
            color: $clr-gray-dark;
            overflow: auto;
            scroll-behavior: contain;
        }
    }
    .slider-left,
    .slider-right {
        position: absolute;
        z-index: 3;
        display: block;
        padding: 20px 15px;
        color: $clr-secondary;
        border: 0;
        background: none;
        transform: translateY(-50%) scale(1.5);
        cursor: pointer;
    }
    .slider-left {
        left: 0%;
    }
    .slider-right {
        right: 0%;
    }
    .not-visible {
        display: none !important;
    }
}

/* Contact Form */
.contactForm {
    width: min(35rem, 100%);
    padding: 1rem;
    border-radius: $border-radius;
    overflow: hidden;
    outline: 1pt solid $clr-gray-light;
    box-shadow: $box-shadow;
    background-color: #FFF;
    fieldset {
        border: none;
        label {
            display: block;
        }
        span {
            font-size: $fs-5;
            cursor: pointer;
            &[aria-errormessage] { /* Hidden by default */ 
                visibility: hidden;
                display: none;
                margin-block: -0.5rem 1.5rem;
                font-size: $fs-6;
                color: $clr-error;
            }
        }
        input:not([type="submit"]), textarea {
            margin-block: 0.75rem;
            width: 100%;
            padding: 0.25rem;
            border: none;
            outline: 1pt solid $clr-gray;
            border-radius: $border-radius;
            background-color: $clr-gray-light;
            &:focus {
                outline: 2px solid $clr-secondary;
            }
            &[aria-invalid] {
                outline: 2px solid $clr-error !important;
                & + span[aria-errormessage] {
                    visibility: visible;
		            display: block;
                }
            }
        }
        textarea {
            resize: vertical;
            min-height: 4rem;
            max-height: 7.5rem;
        }
        input[type="submit"] {
            margin-inline: auto 0;
            background-color: $clr-accent;
            border: 1pt solid $clr-black;
        }
    }   
}