@use './abstract/variables' as *;

.editor {
    display: grid;
    grid-template-rows: 50px 1fr;
    width: 100%;
    border-radius: $border-radius;
    overflow: clip; // for border-radius
	scrollbar-width: thin;
    scrollbar-color: $clr-primary darken($clr-secondary, 12.5%); /* thumb | track */
    &_tabset {
        list-style-type: none;
        display: flex;
        overflow-y: clip;
        overflow-x: auto;
        background: $clr-editor-tabs;
        scrollbar-width: none;
        &.dragging {
            user-select: none !important;
            li { 
                cursor: grabbing !important;
            }
        }
        i {
            color: $clr-white;
            &.fa-html5 {
                color: #E44D26;
            }
            &.fa-css {
                color: rebeccapurple; // https://www.reddit.com/r/webdev/comments/1de8i26/about_ten_years_ago_the_hex_color_rebeccapurple/
            }
            &.fa-js {
                color: #f7df1e;
            }
            &.fa-sass {
                color: #CC6699;
            }
            &.fa-bootstrap {
                color: #7952B3;
            }
            &.fa-vuejs {
                color: #42B883;
            }
            &.fa-laravel {
                color: #FF4529;
            }
            &.fa-git {
                color: #F05032;
            }
            &.fa-code {
                color: #E6DB74;
            }
        }
        li {
            flex-shrink: 0;
            width: fit-content;
            transition: $transition-time-fast;
            cursor: pointer;
            > span {
                display: block;
                padding: 15px;
                span {
                    margin-left: 10px;
                    color: $clr-white;
                }
            }
            &:hover {
                background: $clr-editor-active-tab;
            }
            &[aria-selected="true"] {
                position: relative;
                background: $clr-editor-active-tab;
                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    display: block;
                    width: 100%;
                    height: 2px;
                    background: $clr-accent;
                }
            }
        }
    }
    &_display {
        width: 100%;
        height: 400px;
        background: $clr-editor-display;
        overflow-x: auto;
        scroll-behavior: contain;
    }
    &_window {
        position: relative;
    }
}