@use './abstract/variables' as *;

@media (width <= $mobile) {
    #menuButton {
        position: relative;
        width: 2.5rem;
        aspect-ratio: 1;
        background: $clr-primary;
        border-radius: $border-radius;
        border: none;
        cursor: pointer;
        span {
            position: absolute;
            display: block;
            height: 2px;
            width: 80%;
            left: 10%;
            background-color: $clr-black;
            transition: $transition-time;
            &.top {
                top: 25%;
            }
            &.center {
                top: 50%
            }
            &.bottom {
                top: 75%;
            }
        }
        &[aria-expanded] {
            span {
                &.top {
                    top: 50%;
                    rotate: 45deg;
                }
                &.center {
                    opacity: 0;
                }
                &.bottom {
                    top: 50%;
                    rotate: -45deg;
                }
            }
        }
    }
    .primaryNav {
        max-height: 0;
        width: 95%;
        position: absolute;
        top: $header-height;
        right: 1rem;
        background-color: $clr-white;
        border-radius: $border-radius;
        overflow: hidden;
        transition: $transition-time;
        li {
            a {
                display: block;
                width: 100%;
                padding: 1rem;
                border-bottom: 1pt solid $clr-gray;
                &.contact {
                    color: $clr-white;
                    background-color: $clr-accent;
                }
            }
            &.subMenu {
                ul {
                    a {
                        padding-left: 2rem;
                    }
                }
            }
        }
        &[aria-expanded] {
            max-height: 90dvh;
            overflow: auto;
            box-shadow: 0 0 0 100vmax #000d;
            outline: 1pt solid $clr-gray;
        }
    }
    .hero {
        .heading {
            font-size: $fs-title-mobile;
        }
        .subheading {
            font-size: $fs-4;
        }
    }
    
    // Component specific styles
    #courses.grid-2 {
        display: flex;
        flex-direction: column-reverse; // invert order of text and code editor
    }
}