// Abstract
@use './abstract/variables' as *;

// Import Fonts
@use './fonts/inter';
@use './fonts/satisfy';

// Styles
@use './components/reset';
@use './components/utilities';
@use './components/base';
@use './components/hero';
@use './components/backToTop'

// optional
//@use './components/forms';