/* Reset Browser Defaults */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:where(img, picture, video, canvas, svg) {
    max-width: 100%;
}
:where(input, button, textarea, select) {
    font: inherit;
}
:where(a, a:hover) {
    padding: 1pt;
    text-decoration: none;
}
:where(ul, ol) {
    list-style: none;
}
.grid-2 {
    display: grid;
    justify-items: center;
    gap: 2rem;
}
.sr-only {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border-width: 0 !important;
}

[data-skew="1"] {
    position: relative;
    &::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        height: 200px;
        background: inherit;
        z-index: -1;
        transform: skew(0deg, -3deg);
    }
    &[skew-type="top"] {
        margin-top: 5vw;
        &::before {
            top: -50px;
        }
    }
    &[skew-type="bottom"] {
        margin-bottom: 5vw;
        &::before {
            bottom: -50px;
        }
    }
}

@media(max-width: 63.9em) {
    .desktopOnly {
      display:none !important;
    }
}
@media(min-width: 64em) {
    .mobileOnly {
        display:none !important;
    }
}

/* REMOVE ALL ANIMATIONS, TRANSITIONS AND SMOOTH SCROLL FOR PEOPLE THAT PREFER NOT TO SEE THEM */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms;
        animation-iteration-count: 1;
        transition-duration: 0.01ms;
        scroll-behavior: auto;
    }
}