/* Import Fonts */
@use '../fonts/inter';
$font-body: 'Inter', sans-serif;
@use '../fonts/satisfy';
$font-title: 'Satisfy', 'Inter', sans-serif;

@media (prefers-color-scheme: dark) {
    :root {
        --thisColor: #222;
    }
}

/* Colors */
$clr-bg: #FDFDFD;
$clr-white: #F5F5F5;
$clr-gray-light: #F8F8F8;
$clr-gray: #DDD;
$clr-gray-dark: #444;
$clr-black: #2A2A2A;
//$clr-primary: #F0E2CC;
//$clr-accent: #FF6F61;
$clr-primary: #fff4e3;
$clr-secondary: #014E6B;
$clr-accent: #DA3A2F;
$clr-error: #C30E0E;

$clr-highlight: #ffef02;

$clr-editor-display: darken($clr-secondary, 10%);
$clr-editor-tabs: darken($clr-secondary, 5%);
$clr-editor-active-tab: $clr-secondary;
$clr-highlight-tab: $clr-accent;

/* Sizes */
$header-height: 3.75rem; // 60px
$gap: 15px;
$gap-half: calc($gap / 2);
$gap-double: calc($gap * 2);

/* Font Sizes */
$fs-title: 5rem;
$fs-title-mobile: 3rem;
$fs-1: 2.5rem; /* 40px */
$fs-2: 1.5rem; /* 24px */
$fs-3: 1.375rem; /* 22px */
$fs-4: 1.25rem; /* 20px */
$fs-5: 1.125rem; /* 18px */
$fs-6: 1rem; /* 16px */
$fs-caption: 0.875rem; /* 14px */

/* Shapes */
$box-shadow: 2px 2px 4px 0 $clr-black;
$border-radius: 4px;
$round: 100%;

/* Media Queries */
$mobile: 48rem;
$desktop: 64rem;

/* Time */
$transition-time: 350ms;
$transition-time-fast: calc($transition-time / 2);
$transition-time-slow: calc($transition-time * 2);

/* Extends */
%container {
    margin-inline: auto;
    width: min(85rem, calc(100% - 2rem));
}
%btn {
    display: block;
    padding: 5px 15px;
    color: $clr-white;
    cursor: pointer;
    border-radius: $border-radius;
}
.btn {
    @extend %btn
}